#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "grist"
name = "Grist"
description.en = "Modern relational spreadsheet"
description.fr = "Feuille de calcul relationnelle moderne"

version = "1.7.9~ynh1"

maintainers = ["fflorent"]

[upstream]
license = "Apache-2.0"
website = "https://getgrist.com"
demo = "https://docs.getgrist.com"
admindoc = "https://www.getgrist.com/product/self-managed/"
userdoc = "https://support.getgrist.com/"
code = "https://github.com/gristlabs/grist-core/"
fund = "https://github.com/sponsors/gristlabs"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = true

disk = "1.5G"
ram.build = "1500M"
ram.runtime = "150M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "en"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/gristlabs/grist-core/archive/refs/tags/v1.7.9.tar.gz"
    sha256 = "8922d2108a54ee328109ca7bf20a8e4867dbcea2d50b995e8ab8b1bf9ce569a0"

    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    login.url = "/auth/login"
    login.show_tile = false
    login.allowed = "all_users"
    api.url = "/api"
    api.show_tile = false
    api.allowed = "visitors"

    [resources.ports]
    main.default = 8484

    [resources.apt]
    packages = "python3, python3-venv, redis-server, make"

    [resources.nodejs]
    version = "22"
